<li id="event-<%= event.id %>">
   <% if event.picture? %>
  <div class="feed_main_image" style="background:url(<%= event.picture.url %>);"></div>
  <% else %>
  <%= image_tag("no-image.png", size: "80x80", :class=>"feed_main_image") %>
  <% end %>
  
  <%= link_to gravatar_for(event.user, size: 50), event.user %>
  <span class="title_link"><%= link_to event.title, event_url(event) %></span><br>
  <span class="user"><%= link_to event.user.name, event.user %></span>
  <span class="content">
    <%= event.content %>
    <%= image_tag event.picture.url if event.picture? %>
  </span>
  <span class="timestamp">
    Created by <%= link_to gravatar_for(event.user, size: 20), event.user %> <%= link_to event.user.name, event.user %> <%= time_ago_in_words(event.created_at) %> ago.
    <% if current_user?(event.user) %>
    <%= link_to "delete", event, method: :delete,
    data: { confirm: "You sure?" } %>
  <% end %>
  </span>
</li>